{
    "presets": ["es2015-loose", "stage-0"],
    "plugins": [
        ["babel-plugin-module-alias", [
            {
                "src": "./src",
                "expose": "reactive-di"
            }
        ]],
        "syntax-flow",
        "espower",
        "flow-comments",
        "transform-flow-strip-types",
        "transform-runtime"
    ]
}
