{
    "presets": [["es2015", {"loose": true, "spec": true}], "stage-0", "react"],
    "plugins": [
        ["transform-object-rest-spread", {"useBuiltIns": true}],
        ["module-resolver", {
            "root": [""],
            "alias": {
                "reactive-di": "./src"
            }
        }],
        "syntax-flow",
        "espower",
        ["transform-react-jsx", {
            "pragma": "_t.h"
        }],
        "transform-decorators-legacy",
        "transform-flow-strip-types"
    ]
}
