{
    "presets": ["es2015-loose", "stage-0"],
    "plugins": [
        ["module-resolver", {
            "root": [""],
            "alias": {
                "reactive-di": "./src"
            }
        }],
        "syntax-flow",
        "espower",
        "transform-decorators-legacy",
        "transform-flow-strip-types"
    ]
}
